#!/usr/bin/env bash



REMOVE THIS TEXT ONCE YOU HAVE FOLLOWED THE INSTRUCTIONS!

1. Edit this file and change it from .cloudrc.example => .cloudrc
2. When you have replaced "EXAMPLE". For security purposes keep .cloudrc in .gitignore.
3. Delete the three points and the tittle text.

export OS_USERNAME=EXAMPLE
export OS_PROJECT_NAME=EXAMPLE
export OS_PASSWORD=EXAMPLE
export OS_USER_DOMAIN_NAME=EXAMPLE
export OS_PROJECT_DOMAIN_NAME=EXAMPLE
export OS_AUTH_URL=EXAMPLE
export OS_IDENTITY_API_VERSION=EXAMPLE

