# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
#terraform/terraform.tfstate
#terraform/terraform.tfstate.backup
terraform/.terraform.tfstate.lock.info

# OpenStack credentials
#.cloudrc

# SSH keys
*.pem
id_rsa
id_rsa.pub

# Ansible
ansible/*.retry

# OS files
.DS_Store
Thumbs.db